<div class="section page second_section">
<a name="team"></a>
	<div class="section_container second_section_container flex_container flex_center">
		<div class="text header_text text_grad_purple_yellow">
			<h1>Our Team</h1>
		</div>
		<a href="#link1">
			<div class="feature flex_feature_item feature1">
				<div class="feature_image"></div>
				<h2>Alex Laz</h2>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
			</div>
		</a>
		<a href="#link2">
			<div class="feature flex_feature_item feature2">
				<div class="feature_image"></div>
				<h2>Jona Aellig</h2>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
			</div>
		</a>
		<a href="#link3">
			<div class="feature flex_feature_item feature3">
				<div class="feature_image"></div>
				<h2>Selia Menn</h2>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
			</div>
		</a>
		<a href="#link4">
			<div class="feature flex_feature_item feature4">
				<div class="feature_image"></div>
				<h2>Steffi Roll</h2>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
			</div>
		</a>
		<a href="#link5">
			<div class="feature flex_feature_item feature5">
				<div class="feature_image"></div>
				<h2>Tinu Weber</h2>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
			</div>
		</a>
	</div>
</div>




{{!-- 
<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
    <div class="social-icons">
      <img src="fb.png">
      <img src="tw.png">
      <img src="gp.png">
    </div>
    <form id="login" class="input-group">
      <input type="text" class="input-field" placeholder="User Id"required>
      <input type="text" class="input-field" placeholder="Enter Password"required>
      <input type="checkbox" class="check-box"><span>Remember Password</span>
      <button type="submit" class="submit-btn">Log in</button>
    </form>
    <form id="register" class="input-group">
      <input type="text" class="input-field" placeholder="User Id"required>
      <input type="email" class="input-field" placeholder="Email Id"required>
      <input type="checkbox" class="check-box"><span>I agree to the terms and conditions</span>
      <button type="submit" class="submit-btn">Register</button>
    </form>
</div>

<script src="./js/login.js"></script> --}}
