<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap">

<div class="section page second_section">
	<a name="team"></a>
	<div class="section_container second_section_container flex_container flex_center">
		<div class="gradient gradient_green_yellow gradient_header_section"></div>
		<div class="text header_text text_grad_purple_yellow">
			<h1>Join us on our digital wave!</h1>
		</div>
		<div class="feature flex_feature_item feature1">
			<form class="signup-form">
			<div class="feature_image"></div>
			<h2>Sign Up</h2>
			<div><label for="username" class="custom-font-text">Username:</label></div>
			<input type="text" id="username-signup" name="username" required>
			<div><label for="email" class="custom-font-text">Email:</label></div>
			<input type="email" id="email-signup" name="email" required>
			<div><label for="password" class="custom-font-text">Password:</label></div>
			<input type="password" id="password-signup" name="password" required>
			<div><button type="submit" class="custom-font-text">Sign Up</button></div>
			</form>
		</div>
		<div class="feature flex_feature_item feature2">
			<form class="login-form">
			<div class="feature_image"></div>
			<h2>Login</h2>
			<div><label for="email" class="custom-font-text">Email:</label></div>
			<input type="email" id="email-login" name="email" required>
			<div><label for="password" class="custom-font-text">Password:</label></div>
			<input type="password" id="password-login" name="password" required>
			<div><button type="submit" class="custom-font-text">Login</button></div>
			</form>
		</div>
	</div>
</div>

<script src="js/login.js"></script>